/*************************** Variable *****************************/
/******************** 主题色 *****************************/
$--primary-color: #fe7700;
/******************** 警告色 *****************************/
$--warning-color: #f2b036;
$--warning-color-disabled: #fcefd7;
$--warning-color-active: #fe7600;

/******************** 背景颜色 ***************************/
$--background-color: #f4f5f9;

/******************** 字体颜色 ***************************/
$--font-color_gray0: #000;
$--font-color_gray1: #2e2e2e;
$--font-color_gray2: #666;
$--font-color_gray3: #999;
$--font-color_gray4: #bbb;
$--font-color_gray5: #ccc;
$--font-color_gray6: #e7e7e7;

/******************** 字体 ******************************/
$--font-family: "Microsoft YaHei UI",  sans-serif;

/******************** 两侧间距 ******************************/
$--slide-padding: 40px;

/******************** 圆角大小 ******************************/
$--radius1: 20px;
$--radius2: 10px;
