/*************************** Variable *****************************/
/******************** 主题色 *****************************/
$--primary-color: var(--primary-color);
/******************** 警告色 *****************************/
$--warning-color: var(--warning-color);
$--warning-color-disabled: var(--warning-color-disabled);
$--warning-color-active: var(--warning-color-active);

/******************** 背景颜色 ***************************/
$--background-color: var(--background-color);

/******************** 字体颜色 ***************************/
$--font-color_gray0: var(--font-color_gray0);
$--font-color_gray1: var(--font-color_gray1);
$--font-color_gray2: var(--font-color_gray2);
$--font-color_gray3: var(--font-color_gray3);
$--font-color_gray4: var(--font-color_gray4);
$--font-color_gray5: var(--font-color_gray5);
$--font-color_gray6: var(--font-color_gray6);

/******************** 字体 ******************************/
$--font-family: var(--font-family);

/******************** 两侧间距 ******************************/
$--slide-padding: 40px;

/******************** 圆角大小 ******************************/
$--radius1: 20px;
$--radius2: 10px;
/*************************** Mixin *****************************/
// 文本溢出隐藏并显示省略号
@mixin elps {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

//文本溢出隐藏并显示省略号多行
@mixin elps-wrap($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; //-webkit-box为旧的属性值，2012年最新的标准草案为flex，如果把值该为flex，将不支持多行省略号。
  -webkit-line-clamp: $line; //webkit支持此属性，并且是一个不规范的属性，没有出现在css规范的草案中。必须结合display: -webkit-box和-webkit-box-orient: vertical;属性一起使用
  -webkit-box-orient: vertical;
}

//##
//#0.5像素边框
//##
@mixin border-half-bottom($color) {
  position: absolute;
  content: "";
  width: 200%;
  height: 1px;
  background-color: $color;
  bottom: 0;
  left: -50%;
  transform: scale(.5);
}

@mixin border-half-top($color) {
  position: absolute;
  content: "";
  width: 200%;
  height: 1px;
  background-color: $color;
  right: -50%;
  top: 0;
  transform: scale(.5);
}

@mixin border-half-left($color) {
  position: absolute;
  content: "";
  width: 1px;
  height: 200%;
  background-color: $color;
  left: 0;
  top: -50%;
  transform: scale(.5);
}

@mixin border-half-right($color) {
  position: absolute;
  content: "";
  width: 1px;
  height: 200%;
  background-color: $color;
  right: 0;
  top: -50%;
  transform: scale(.5);
}

@mixin border-half($color, $radius) {
  content: "";
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  border: 1px solid $color;
  border-radius: $radius;
  transform: scale(.5);
  box-sizing: border-box;
}
// 文字两端对齐
@mixin text-justify () {
  text-align:justify;
  text-justify:distribute-all-lines;/*ie6-8*/
  text-align-last:justify;/* ie9*/
  -moz-text-align-last:justify;/*ff*/
  -webkit-text-align-last:justify;/*chrome 20+*/
}
