// 分类页皮肤

.skin-party > .search {
    background-image: url(https://mallcdn.youpenglai.com/static/admall/skin/party/bg-classify.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.skin-good-course > .search {
    background-image: url(https://mallcdn.youpenglai.com/static/admall/skin/good-course/bg-classify.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.skin-welcome-new > .search {
    background-image: url(https://mallcdn.youpenglai.com/static/admall/skin/welcome-new/bg-classify.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}