/*  common */
.skin-common {
    .banner,
    .popular,
    .class {
        padding: 0 24px !important;
        background: transparent !important;
    }
    .adv,
    .activity,
    .appointment,
    .propagate,
    .recommend {
        background: transparent !important;
    }
}
/*  mixin */
@mixin container ($padding-top, $background-image, $background-color: transparent) {
    padding-top: $padding-top;
    background-image: url($background-image) !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    background-size: 100% auto !important;
    background-color: $background-color !important;
    @content;
}
@mixin search ($margin-bottom: 17px, $padding: 0 92px, $height: 60px) {
    @content;
    margin-bottom: $margin-bottom;
    padding: $padding;
    height: $height !important;
}
@mixin footer ($height, $color, $background-image: null, $background-color: transparent) {
    height: $height !important;
    color: $color !important;
    background-image: url($background-image) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
    background-color: $background-color !important;
    @content;
}

// 圣诞皮肤
.skin-xmas {
    @extend .skin-common;
    background-color: #c81819 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/xmas/7a2048fd-b958-48af-8861-34c672b5fe84.png';
        @include container(58px, $background-image);
    }
    .search {
        &::before {
            position: absolute;
            top: -10px;
            left: 6px;
            content: '';
            width: 80px;
            height: 96px;
            background: url('https://mallcdn.youpenglai.com/static/admall/skin/xmas/7393611f-65e9-4aa7-ad55-5dedc1241183.png') no-repeat center;
            background-size: 100%;
            z-index: 1;
        }
    }
    .footer {
        @include footer(120px, #fff);
        position: relative;
        &::before {
            position: absolute;
            bottom: 10px;
            left: 80px;
            content: '';
            width: 60px;
            height: 80px;
            background: url('https://mallcdn.youpenglai.com/static/admall/skin/xmas/7da66cb2-96f6-4bef-9e1d-0038a3003283.png') no-repeat center;
            background-size: 100%;
        }
        &::after {
            position: absolute;
            bottom: 20px;
            right: 80px;
            content: '';
            width: 44px;
            height: 70px;
            background: url('https://mallcdn.youpenglai.com/static/admall/skin/xmas/7da66cb2-96f6-4bef-9e1d-0038a3003283.png') no-repeat center;
            background-size: 100%;
        }
    }
    .skin-title {
        margin: 0 -24px;
    }
}

// 元旦皮肤
.skin-yuan-dan {
    @extend .skin-common;
    background-color: #e4d1a3 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/yuan-dan/84792abd-69ab-4de4-9e3f-0b00c3123e9c.png';
        @include container(77px, $background-image);
    }
    .search {
        @include search();
    }
    .footer {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/yuan-dan/cbfbc6a1-6e57-4cf8-82d9-54bb17d600ba.png';
        @include footer(300px, #f2e2ba, $background-image);
    }
}

// 新年皮肤
.skin-new-year {
    @extend .skin-common;
    background-color: #ae1a10 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/new-year/32724153-3431-4331-9589-b3018075aed6.png';
        @include container(77px, $background-image);
    }
    .search {
        @include search();
    }
    .footer {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/new-year/9c269eae-f95d-4651-9e37-1efbba2a3534.png';
        @include footer(150px, #fff, $background-image);
    }
    .skin-title {
        margin: 0 -24px;
    }
}

// 小年皮肤
.skin-xiao-nian {
    @extend .skin-common;
    background-color: #ff8401 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/xiao-nian/558e1a1d-37a9-428e-9b4a-74b3d9edb9be.png';
        @include container(115px, $background-image);
    }
    .search {
        @include search();
    }
    .footer {
        @include footer(140px, #f2e2ba, #ff8401);
    }
}

// 元宵
.skin-yuan-xiao {
    @extend .skin-common;
    background-color: #d6922d !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/yuan-xiao/b0c4d8b7-ccec-4d96-a571-10c365ff95ea.png';
        @include container(115px, $background-image);
    }
    .search {
        @include search();
    }
    .footer {
        @include footer(140px, #f2e2ba, #d6922d);
    }
    .skin-title {
        margin: 0 -24px 14px;
    }
    .teachers,
    .popular,
    .class,
    .recommend {
        background: #d6922d !important;
        padding-bottom: 26px !important;
    }
}

// 妇女节
.skin-women-day {
    @extend .skin-common;
    background-color: #f6dde0 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/women-day/bg.jpg';
        @include container(75px, $background-image);
        .search {
            @include search(13px);
        }
        .footer {
            @include footer(140px, #ea615f);
            padding-top: 10px;
        }
        .skin-title {
            margin: 0 -24px 10px;
        }
    }
}

// 年年翻
.skin-nian-nian-fan {
    @extend .skin-common;
    background-color: #f2c757 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/nian-nian-fan/bg.jpg';
        @include container(65px, $background-image);
        .search {
            @include search(24px);
        }
        .footer {
            @include footer(140px, #f35815);
            padding-top: 10px;
        }
        .skin-title {
            margin: 25px -24px;
        }
    }
}

// 地球日
.skin-earth-day {
    @extend .skin-common;
    background-color: #ade6bc !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/earth-day/bg.jpg';
        @include container(65px, $background-image);
        .search {
            @include search(24px);
        }
        .footer {
            @include footer(140px, #19b47b);
            padding-top: 10px;
        }
        .skin-title {
            margin: 9px -24px 20px;
        }
    }
}

// 劳动节
.skin-labour-day {
    @extend .skin-common;
    background-color: #c2462e !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/labour-day/bg.jpg';
        @include container(129px, $background-image);
        .search {
            @include search(12px);
        }
        .footer {
            @include footer(140px, #efc573);
            padding-top: 10px;
        }
        .skin-title {
            margin: 34px -24px 30px;
        }
    }
}

// 母亲节
.skin-mothers-day {
    @extend .skin-common;
    background-color: #ffe3e0 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/mothers-day/bg.jpg';
        @include container(75px, $background-image);
        .search {
            @include search(13px);
        }
        .footer {
            @include footer(140px, #ea615f);
            padding-top: 10px;
        }
        .skin-title {
            margin: 17px -24px 20px;
        }
    }
}

// 儿童节
.skin-children-day {
    @extend .skin-common;
    background-color: #99dcfc !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/children-day/bg.jpg';
        @include container(130px, $background-image);
        .search {
            @include search(12px);
        }
        .footer {
            @include footer(140px, #fd7803);
            padding-top: 10px;
        }
        .skin-title {
            margin: 17px -24px 18px;
        }
    }
}

// 父亲节
.skin-fathers-day {
    @extend .skin-common;
    background-color: #a3cbfb !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/fathers-day/bg.jpg';
        @include container(130px, $background-image);
        .search {
            @include search(12px);
        }
        .footer {
            @include footer(140px, #1764c7);
            padding-top: 10px;
        }
        .skin-title {
            margin: 55px -24px 30px;
        }
    }
}

// 端午节
.skin-dragon-boat {
    @extend .skin-common;
    background-color: #7dcaae !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/dragon-boat/bg.jpg';
        @include container(130px, $background-image);
        .search {
            @include search();
        }
        .footer {
            @include footer(140px, #1b8864);
            padding-top: 10px;
        }
        .skin-title {
            margin: 22px -24px 12px;
        }
    }
}

// 中秋
.skin-mid-autumn-festival {
    @extend .skin-common;
    background-color: #22ADB2 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/mid-autumn-festival/bg.jpg';
        @include container(130px, $background-image);
        .search {
            @include search(12px);
        }
        .footer {
            @include footer(140px, #1b8864);
            padding-top: 10px;
        }
        .skin-title {
            margin: 22px -24px 20px;
        }
    }
}

// 国庆
.skin-national-day {
    @extend .skin-common;
    background-color: #BA0909 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/national-day/bg.jpg';
        @include container(180px, $background-image);
        .search {
            @include search();
        }
        .footer {
            @include footer(140px, #FD7803);
            padding-top: 10px;
        }
        .skin-title {
            margin: 40px -24px 24px;
        }
    }
}

// 双十二文化类
.skin-culture {
    @extend .skin-common;
    background-color: #FF9904 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/culture/bg-new.jpg';
        @include container(130px, $background-image);
        .search {
            @include search();
        }
        .footer {
            @include footer(150px, #FFFFFF);
            padding-top: 10px;
        }
        .skin-title {
            margin: 28px -24px 20px;
        }
    }
}

// 双十二运动类
.skin-sports {
    @extend .skin-common;
    background-color: #2D88F2 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/sports/bg-new.jpg';
        @include container(130px, $background-image);
        .search {
            @include search();
        }
        .footer {
            @include footer(150px, #FFFFFF);
            padding-top: 10px;
        }
        .skin-title {
            margin: 40px -24px 35px;
        }
    }
}

// 双十二文艺类
.skin-arts {
    @extend .skin-common;
    background-color: #70D5A3 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/art/bg-new.jpg';
        @include container(130px, $background-image);
        .search {
            @include search();
        }
        .footer {
            @include footer(150px, #FFFFFF);
            padding-top: 10px;
        }
        .skin-title {
            margin: 30px -24px 25px;
        }
    }
}

// 双十二
.skin-double-12 {
    @extend .skin-common;
    background: linear-gradient(90deg, #DA5D1A 0%, #CC2714 100%) !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/double-12/bg-new.jpg';
        @include container(130px, $background-image);
        .search {
            @include search();
        }
        .footer {
            @include footer(150px, #FFFFFF);
            padding-top: 10px;
        }
        .skin-title {
            margin: 34px -24px 30px;
        }
    }
}

// 狂欢派对
.skin-party {
    @extend .skin-common;
    background: #53A272 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/party/bg-home.jpg';
        @include container(130px, $background-image);
        .search {
            @include search();
        }
        .footer {
            @include footer(150px, #FFFFFF);
            padding-top: 10px;
        }
        .skin-title {
            margin: 18px -24px 30px;
        }
    }
}

// 好课连连
.skin-good-course {
    @extend .skin-common;
    background: #F33C45 !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/good-course/bg-home.png';
        @include container(130px, $background-image);
        .search {
            @include search();
        }
        .footer {
            @include footer(150px, #FFFFFF);
            padding-top: 10px;
        }
        .skin-title {
            margin: 40px -24px 30px;
        }
    }
}

// 欢迎新同学
.skin-welcome-new {
    @extend .skin-common;
    background: #25B9BB !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/welcome-new/bg-home.png';
        @include container(130px, $background-image);
        .search {
            @include search();
        }
        .footer {
            @include footer(150px, #FFFFFF);
            padding-top: 10px;
        }
        .skin-title {
            margin: 25px -24px;
        }
    }
}

// 校园好物
.skin-campus-supply {
    @extend .skin-common;
    background: #4884df !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/campus-supply/bg-home.jpg';
        @include container(130px, $background-image);
        .search {
            @include search();
        }
        .footer {
            @include footer(150px, #fff);
            padding-top: 10px;
        }
        .skin-title {
            margin: 32px -24px;
        }
    }
}

// 圣诞
.skin-xmas-2020 {
    @extend .skin-common;
    background: #0A866A !important;
    .container {
        $background-image: 'https://mallcdn.youpenglai.com/static/admall/skin/xmas-2020/bg.png';
        @include container(130px, $background-image);
        .search {
            @include search();
        }
        .footer {
            @include footer(150px, #E5800E);
            padding-top: 10px;
        }
        .skin-title {
            margin: 20px -24px;
        }
    }
}

