// 分类页皮肤

.skin-party > .top {
    background-image: url(https://mallcdn.youpenglai.com/static/admall/skin/party/bg-my.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.skin-good-course > .top {
    background-image: url(https://mallcdn.youpenglai.com/static/admall/skin/good-course/bg-my.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.skin-welcome-new > .top {
    background-image: url(https://mallcdn.youpenglai.com/static/admall/skin/welcome-new/bg-my.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.skin-campus-supply > .top {
    background-image: url(https://mallcdn.youpenglai.com/static/admall/skin/campus-supply/bg-my.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.skin-xmas > .top {
    background-image: url(https://mallcdn.youpenglai.com/static/admall/skin/xmas/bg-my.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.skin-xmas-2020 > .top {
    background-image: url(https://mallcdn.youpenglai.com/static/admall/skin/xmas-2020/bg-my.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.skin-yuan-dan > .top {
    background-image: url(https://mallcdn.youpenglai.com/static/admall/skin/yuan-dan/bg-my.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}