// navbar 皮肤样式

.skin-xmas,
.skin-yuan-dan,
.skin-new-year,
.skin-xiao-nian,
.skin-yuan-xiao,
.skin-women-day,
.skin-nian-nian-fan,
.skin-earth-day,
.skin-labour-day,
.skin-mothers-day,
.skin-children-day,
.skin-fathers-day,
.skin-dragon-boat,
.skin-mid-autumn-festival,
.skin-culture,
.skin-sports,
.skin-arts,
.skin-national-day,
.skin-double-12,
.skin-party,
.skin-good-course,
.skin-welcome-new {
    .route {
        padding: 0 0 4px;
        &.active > .tab-name {
            color: #c81819;
        }
        > img {
            width: 71px;
            height: 62px;
        }
    }
    .tab-name {
        line-height: 18px;
        color: #242424;
    }
}

.skin-xmas {
    background: url('https://mallcdn.youpenglai.com/static/admall/skin/xmas/83295b48-251d-40a0-9e07-e3fb9eb95138.png') no-repeat center;
    background-size: 100%;
}
.skin-new-year {
    background: url('https://mallcdn.youpenglai.com/static/admall/skin/new-year/00b470fc-1ba0-4c3a-a039-177d6564eb0e.png') no-repeat center;
    background-size: 100%;
}
.skin-yuan-xiao {
    background: url('https://mallcdn.youpenglai.com/static/admall/skin/yuan-xiao/0172699a-7d24-45ae-8e27-46d0a88dfb39.png') no-repeat center;
    background-size: 101%;
    .route {
        .tab-name {
            color: #fff;
        }
        &.active > .tab-name {
            color: #fff;
        }
    }
}
.skin-women-day {
    .route {
        .tab-name {
            margin-top: 0;
            color: #999;
        }
        &.active > .tab-name {
            color: #fb908f;
        }
    }
}
.skin-earth-day {
    .route {
        &.active > .tab-name {
            color: #19b47b;
        }
    }
}
.skin-labour-day {
    .route {
        &.active > .tab-name {
            color: #ce4c32;
        }
    }
}
.skin-mothers-day {
    .route {
        &.active > .tab-name {
            color: #fb908f;
        }
    }
}
.skin-children-day {
    .route {
        &.active > .tab-name {
            color: #fd7803;
        }
    }
}
.skin-fathers-day {
    .route {
        &.active > .tab-name {
            color: #1764c7;
        }
    }
}
.skin-dragon-boat {
    .route {
        &.active > .tab-name {
            color: #258d6b;
        }
    }
}
.skin-mid-autumn-festival {
    .route {
        &.active > .tab-name {
            color: #D96B20;
        }
    }
}
.skin-national-day {
    .route {
        &.active > .tab-name {
            color: #FD7803;
        }
    }
}
.skin-culture {
    .route {
        &.active > .tab-name {
            color: #FD7803;
        }
    }
}
.skin-sports {
    .route {
        &.active > .tab-name {
            color: #E54728;
        }
    }
}
.skin-arts {
    .route {
        &.active > .tab-name {
            color: #E54728;
        }
    }
}
.skin-double-12 {
    .route {
        &.active > .tab-name {
            color: #D12C19;
        }
    }
}
.skin-party {
    .route {
        &.active > .tab-name {
            color: #53A272;
        }
    }
}
.skin-good-course {
    .route {
        &.active > .tab-name {
            color: #F33C45;
        }
    }
}
.skin-welcome-new {
    .route {
        &.active > .tab-name {
            color: #25B9BB;
        }
    }
}