.submitOrder {
    padding: 20px 24px 120px;
}
.productBox {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 32px 0 24px 0;
    border-radius: $--radius1;
    background-color: #fff;
    box-sizing: border-box;
    .orderItemBox {
        padding: 0 24px;
    }
}
.edit-count {
    display: flex;
    align-items: center;
    > span {
        margin-right: 16px;
        font-size: 20px;
        color: #999;
    }
}
.remark {
    flex: 1;
    height: 100%;
    padding: 0;
    margin-left: 22px;
    font-size: 24px;
    text-align: right;
}
.address {
    margin-bottom: 28px;
    background-color: #fff;
}
.product, .remark {
    padding: 24px 28px 18px;
    background-color: #fff;
}
.orderTop {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 22px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;
}
.money {
    position: relative;
    padding: 22px 0;
    border-bottom: 1px solid #e7e7e7;
    > p {
        display: flex;
        justify-content: space-between;
        line-height: 52px;
        &:nth-of-type(2) > span:nth-of-type(2) {
            color: $--primary-color;
        }
    }
}
.total-money {
    line-height: 66px;
    text-align: right;
    > span:nth-of-type(2) {
        color: $--primary-color;
    }
}
.confirm {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    height: 110px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 2;
    > div {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
        min-width: 200px;
    }
}
.oneProductMark {
    display: flex;
    margin-top: 20px;
    padding: 0 28px;
    line-height: 88px;
    font-size: 28px;
    background-color: #fff;
    border-radius: 20px;
    > input {
        flex: 1;
        margin-left: 68px;
        background-color: transparent;
    }
}

.skeleton {
    padding: 20px 40px;
}
.skeleton1 {
    background-color: #fff;
}
.skeleton2 {
    margin-top: 28px;
    padding: 20px 28px;
    background-color: #fff;
}
.skeleton2-1 {
    width: 112px;
    height: 37px;
}
.skeleton2-2 {
    width: 122px;
    height: 37px;
    margin-top: 23px;
}
.skeleton2-3 {
    width: 112px;
    height: 37px;
    margin-top: 13px;
}
.skeleton2-4 {
    width: 150px;
    height: 37px;
    margin-top: 28px;
}
.skeAnimation {
    @include skeAnimation(#eee)
}