.mall-home {
  padding-bottom: 120px;
  background-color: #F4F5F9;
  .top {
    padding: 30px 40px;
  }
  .banner {
    height: 354px;

  }
  .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #fff;
  }
  .goodGift {
    width: 686px;
    padding: 40px 30px 30px 30px;
    margin: 48px auto 80px;
    background-color: #fff;
    border-radius: $--radius1;
    box-sizing: border-box;
    .moduleHead {
      text-align: center;
      margin-bottom: 40px;
      .moduleTitle {
        font-size: 36px;
        color: #000;
        font-weight: bold;
      }
      p {
        margin-top: 10px;
        font-size: 24px;
        color: #666;
      }
    }
    .swiper {
      height: auto;
      margin: 0;
      .swiper-slide {
        height: auto !important;
      }
    }
  }

  .otherModules {
    padding: 40px 32px;
  }

  .img-module {
    margin-top: 41px;
    padding: 0 32px;
    height: 324px;
  }
  .img-module-img {
    width: 100%;
    height: 100%;
    border-radius: $--radius1;
    object-fit: cover;
  }
  .goodsModule {
    margin-top: 28px;
    margin-bottom: 40px;
    padding: 0 32px;
    .slideWrap {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 248px;
      padding: 28px 0;
      background-color: #fff;
      border-radius: $--radius1;
    }
  }
  .broker {
    margin-top: 30px
  }
  .youLike {
    padding: 0 32px;
  }
}
