.template-new {
  .top {
    padding: 30px 40px;
  }
  .banner {
    height: 354px;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: #fff;
    }
  }
}
