/*  common */
.skin-common {
  .banner {
    padding: 0 24px 0 24px !important;
    background: transparent !important;
  }
  .adv {
    background: transparent !important;
  }
  .broadcast,
  .activity {
    background: transparent !important;
  }
  .hot-item {
    padding-top: 0 !important;
    background: transparent !important;
  }
  .appointment {
    padding-bottom: 0 !important;
    background: transparent !important;
  }
  .best {
    padding: 0 24px !important;
    background: transparent !important;
  }
  .recommend {
    background: transparent !important;
  }
  .shuang12 {
    background: transparent !important;
  }
}

// 圣诞皮肤
.skin-xmas {
  @extend .skin-common;
  background-color: #C81819 !important;
  .container {
    padding-top: 58px;
    background: url("./skin/xmas/top-bg.png") no-repeat center top !important;
    background-size: 100% auto !important;
  }
  .search {
    &::before {
      position: absolute;
      top: -10px;
      left: 6px;
      content: '';
      width: 80px;
      height: 96px;
      background: url("./skin/xmas/hat.png") no-repeat center;
      background-size: 100%;
      z-index: 1;
    }
  }
  .footer {
    position: relative;
    height: 120px !important;
    color: #FFFFFF !important;
    background: transparent !important;
    &::before {
      position: absolute;
      bottom: 10px;
      left: 80px;
      content: '';
      width: 60px;
      height: 80px;
      background: url("./skin/xmas/decoration.png") no-repeat center;
      background-size: 100%;
    }
    &::after {
      position: absolute;
      bottom: 20px;
      right: 80px;
      content: '';
      width: 44px;
      height: 70px;
      background: url("./skin/xmas/decoration.png") no-repeat center;
      background-size: 100%;
    }
  }
  .skin-title {
    margin: 0 -24px;
  }
}

// 新年皮肤
.skin-new-year {
  @extend .skin-common;
  background-color: #AE1A10 !important;
  .container {
    padding-top: 52px;
    background: url("./skin/new-year/top-bg.png") no-repeat center top !important;
    background-size: 100% auto !important;
  }
  .search {
    padding: 0 92px !important;
  }
  .footer {
    height: 150px !important;
    color: #FFFFFF !important;
    background: url("./skin/new-year/bottom-bg.png") no-repeat center !important;
    background-size: 100% !important;
  }
  .skin-title {
    margin: 0 -24px;
  }
}

// 元旦皮肤
.skin-yuan-dan {
  @extend .skin-common;
  background-color: #E4D1A3 !important;
  .container {
    padding-top: 52px;
    background: url("./skin/yuan-dan/top-bg.png") no-repeat center top !important;
    background-size: 100% auto !important;
  }
  .search {
    padding: 0 92px !important;
  }
  .footer {
    height: 300px !important;
    color: #F2E2BA !important;
    background: url("./skin/yuan-dan/bottom-bg.png") no-repeat center !important;
    background-size: 100% !important;
  }
}

// 小年皮肤
.skin-xiao-nian {
  @extend .skin-common;
  background-color: #FF8401 !important;
  .container {
    padding-top: 90px;
    background: url("./skin/xiao-nian/top-bg.png") no-repeat center top !important;
    background-size: 100% auto !important;
  }
  .search {
    padding: 0 92px !important;
  }
  .footer {
    height: 90px !important;
    color: #F2E2BA !important;
    background: #FF8401 !important;
  }
}

