@font-face {
  font-family: HYLiLiangHeiJ;
  src: url('./hyliliangheij.ttf');
}

@font-face {
  font-family: HYLingXinJ;
  src: url('./hylingxin.ttf');
}

@font-face {
  font-family: HYk2gj;
  src: url('./hylingxin.ttf');
}
